@use "../abstracts" as *;

.btn {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;

  &-search {
    padding: 0.75rem;
    border-radius: 0 2rem 2rem 0;
    background-color: get-color("main");

    &:active {
      background-color: get-color("main-active");
    }
  }

  &-switch {
    $pad: 0.25rem;

    border-radius: 2rem;
    min-width: 5rem;
    width: 5rem;
    padding: $pad;
    background-color: get-color("input");

    > .switch-ball {
      @include flex-center();
      @include circle(2.5rem);

      font-size: 1rem;
      font-weight: 900;
      background-color: get-color("main");
      transition: transform 0.3s ease;

      &.switched {
        transform: translateX(calc(100% - 2 * $pad));
      }
    }
  }
}
