@use "../abstracts" as *;

.card {
  border-radius: 2rem;
  background-color: get-color("card");

  &-search {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;

    @include mobile-media {
      gap: 0.5rem;
      padding: 1rem 0.75rem;
    }
  }
}
