@use '../abstracts' as *;

.loading-screen {
  margin-top: 6rem;
  text-align: center;

  &__icon {
    margin: 0 auto;
    width: 7.5rem;
    height: 7.5rem;
    animation: loading 1s ease infinite;
  }
}

@keyframes loading {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0) rotate(359deg);
  }
}
