$font-stack: (
  "Roboto",
  system-ui,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol"
);

@font-face {
  font-family: "Roboto";
  src:
    url("../../assets/fonts/roboto-black.woff2") format("woff2"),
    url("../../assets/fonts/roboto-black.woff") format("woff");
  font-style: normal;
  font-weight: 900; // Black
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../assets/fonts/roboto-bold.woff2") format("woff2"),
    url("../../assets/fonts/roboto-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; // Bold
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../assets/fonts/roboto-regular.woff2") format("woff2"),
    url("../../assets/fonts/roboto-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; // Normal
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../assets/fonts/roboto-light.woff2") format("woff2"),
    url("../../assets/fonts/roboto-light.woff") format("woff");
  font-style: normal;
  font-weight: 300; // Light
  font-display: swap;
}

body {
  font-family: $font-stack;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 1rem;
}
