@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin square($size) {
  min-width: $size;
  width: $size;
  min-height: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);

  border-radius: 100%;
}

@mixin mobile-media() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
